:root {
  --color-001: rgb(35, 35, 35);
  --color-002: rgb(0, 0, 0);
  --color-003: none;
  --color-004: rgba(0, 0, 0, 0);
  --color-005: rgb(255, 255, 255);
  --color-006: rgba(255, 255, 255, 0.35);
  --color-007: rgba(0, 0, 0, 0.15);
  --color-008: rgba(15, 18, 25, 0.1);
  --color-009: rgb(34, 34, 34);
  --color-010: rgba(15, 18, 25, 0.92);
  --color-011: rgb(17, 17, 17);
  --color-012: rgb(85, 85, 85);
  --color-013: rgb(255, 25, 16);
  --color-014: rgb(36, 36, 36);
  --color-015: rgba(0, 0, 0, 0.12);
  --color-016: rgba(255, 255, 255, 0.55);
  --color-017: rgb(51, 51, 51);
  --color-018: rgba(255, 255, 255, 0.18);
  --color-019: rgba(255, 255, 255, 0.16);
  --color-020: rgba(255, 255, 255, 0.65);
  --color-021: rgba(255, 255, 255, 0.86);
  --color-022: rgba(255, 255, 255, 0.92);
  --color-023: rgba(0, 0, 0, 0.25);
  --color-024: oklab(0.999994 0.0000455678 0.0000200868 / 0.433726);
  --text-001-font-size: 17.0008px;
  --text-001-letter-spacing: normal;
  --text-001-line-height: 27.2013px;
  --text-001-style: normal;
  --text-001-transform: none;
  --text-001-weight: 400;
  --text-002-font-size: 17.0128px;
  --text-002-letter-spacing: normal;
  --text-002-line-height: 27.2205px;
  --text-002-style: normal;
  --text-002-transform: none;
  --text-002-weight: 400;
  --text-003-font-size: 19.728px;
  --text-003-letter-spacing: normal;
  --text-003-line-height: 31.5648px;
  --text-003-style: normal;
  --text-003-transform: none;
  --text-003-weight: 400;
  --text-004-font-size: 13px;
  --text-004-letter-spacing: normal;
  --text-004-line-height: 16.25px;
  --text-004-style: normal;
  --text-004-transform: none;
  --text-004-weight: 400;
  --text-005-font-size: 18px;
  --text-005-letter-spacing: normal;
  --text-005-line-height: normal;
  --text-005-style: normal;
  --text-005-transform: uppercase;
  --text-005-weight: 800;
  --text-006-font-size: 13px;
  --text-006-letter-spacing: normal;
  --text-006-line-height: normal;
  --text-006-style: normal;
  --text-006-transform: none;
  --text-006-weight: 400;
  --text-007-font-size: 17.0008px;
  --text-007-letter-spacing: normal;
  --text-007-line-height: 17.0008px;
  --text-007-style: normal;
  --text-007-transform: none;
  --text-007-weight: 400;
  --text-008-font-size: 17.0128px;
  --text-008-letter-spacing: normal;
  --text-008-line-height: 17.0128px;
  --text-008-style: normal;
  --text-008-transform: none;
  --text-008-weight: 400;
  --text-009-font-size: 19.728px;
  --text-009-letter-spacing: normal;
  --text-009-line-height: 19.728px;
  --text-009-style: normal;
  --text-009-transform: none;
  --text-009-weight: 400;
  --text-010-font-size: 17.0008px;
  --text-010-letter-spacing: normal;
  --text-010-line-height: 27.2013px;
  --text-010-style: normal;
  --text-010-transform: none;
  --text-010-weight: 600;
  --text-011-font-size: 17.0128px;
  --text-011-letter-spacing: normal;
  --text-011-line-height: 27.2205px;
  --text-011-style: normal;
  --text-011-transform: none;
  --text-011-weight: 600;
  --text-012-font-size: 18px;
  --text-012-letter-spacing: normal;
  --text-012-line-height: normal;
  --text-012-style: normal;
  --text-012-transform: none;
  --text-012-weight: 800;
  --text-013-font-size: 19.728px;
  --text-013-letter-spacing: normal;
  --text-013-line-height: 31.5648px;
  --text-013-style: normal;
  --text-013-transform: none;
  --text-013-weight: 600;
  --text-014-font-size: 11px;
  --text-014-letter-spacing: 0.66px;
  --text-014-line-height: 11px;
  --text-014-style: normal;
  --text-014-transform: uppercase;
  --text-014-weight: 600;
  --text-015-font-size: 20.401px;
  --text-015-letter-spacing: normal;
  --text-015-line-height: 20.401px;
  --text-015-style: normal;
  --text-015-transform: none;
  --text-015-weight: 400;
  --text-016-font-size: 20.4154px;
  --text-016-letter-spacing: normal;
  --text-016-line-height: 20.4154px;
  --text-016-style: normal;
  --text-016-transform: none;
  --text-016-weight: 400;
  --text-017-font-size: 23.6736px;
  --text-017-letter-spacing: normal;
  --text-017-line-height: 23.6736px;
  --text-017-style: normal;
  --text-017-transform: none;
  --text-017-weight: 400;
  --text-018-font-size: 21.6px;
  --text-018-letter-spacing: normal;
  --text-018-line-height: normal;
  --text-018-style: normal;
  --text-018-transform: uppercase;
  --text-018-weight: 800;
  --text-019-font-size: 0px;
  --text-019-letter-spacing: normal;
  --text-019-line-height: 0px;
  --text-019-style: normal;
  --text-019-transform: none;
  --text-019-weight: 400;
  --text-020-font-size: 11px;
  --text-020-letter-spacing: normal;
  --text-020-line-height: 13.2px;
  --text-020-style: normal;
  --text-020-transform: none;
  --text-020-weight: 400;
  --text-021-font-size: 15px;
  --text-021-letter-spacing: normal;
  --text-021-line-height: normal;
  --text-021-style: normal;
  --text-021-transform: none;
  --text-021-weight: 400;
  --text-022-font-size: 21.6px;
  --text-022-letter-spacing: normal;
  --text-022-line-height: normal;
  --text-022-style: normal;
  --text-022-transform: none;
  --text-022-weight: 800;
  --text-023-font-size: 17.0008px;
  --text-023-letter-spacing: normal;
  --text-023-line-height: normal;
  --text-023-style: normal;
  --text-023-transform: none;
  --text-023-weight: 400;
  --text-024-font-size: 17.0128px;
  --text-024-letter-spacing: normal;
  --text-024-line-height: normal;
  --text-024-style: normal;
  --text-024-transform: none;
  --text-024-weight: 400;
  --text-025-font-size: 19.728px;
  --text-025-letter-spacing: normal;
  --text-025-line-height: normal;
  --text-025-style: normal;
  --text-025-transform: none;
  --text-025-weight: 400;
  --text-026-font-size: 33.15px;
  --text-026-letter-spacing: normal;
  --text-026-line-height: 33.15px;
  --text-026-style: normal;
  --text-026-transform: none;
  --text-026-weight: 400;
  --text-027-font-size: 50.04px;
  --text-027-letter-spacing: normal;
  --text-027-line-height: 50.04px;
  --text-027-style: normal;
  --text-027-transform: none;
  --text-027-weight: 400;
  --text-028-font-size: 54px;
  --text-028-letter-spacing: normal;
  --text-028-line-height: 54px;
  --text-028-style: normal;
  --text-028-transform: none;
  --text-028-weight: 400;
  --text-029-font-size: 11px;
  --text-029-letter-spacing: 1.43px;
  --text-029-line-height: 12.1px;
  --text-029-style: normal;
  --text-029-transform: uppercase;
  --text-029-weight: 700;
  --text-030-font-size: 14px;
  --text-030-letter-spacing: normal;
  --text-030-line-height: 17.5px;
  --text-030-style: normal;
  --text-030-transform: none;
  --text-030-weight: 400;
  --text-031-font-size: 11px;
  --text-031-letter-spacing: normal;
  --text-031-line-height: 11px;
  --text-031-style: normal;
  --text-031-transform: uppercase;
  --text-031-weight: 700;
  --text-032-font-size: 13px;
  --text-032-letter-spacing: normal;
  --text-032-line-height: 16.9px;
  --text-032-style: normal;
  --text-032-transform: none;
  --text-032-weight: 400;
  --text-033-font-size: 15.6px;
  --text-033-letter-spacing: normal;
  --text-033-line-height: normal;
  --text-033-style: normal;
  --text-033-transform: uppercase;
  --text-033-weight: 400;
  --text-034-font-size: 18px;
  --text-034-letter-spacing: 0.36px;
  --text-034-line-height: normal;
  --text-034-style: normal;
  --text-034-transform: uppercase;
  --text-034-weight: 800;
  --text-035-font-size: 20.8px;
  --text-035-letter-spacing: normal;
  --text-035-line-height: normal;
  --text-035-style: normal;
  --text-035-transform: uppercase;
  --text-035-weight: 400;
  --text-036-font-size: 20px;
  --text-036-letter-spacing: normal;
  --text-036-line-height: 22px;
  --text-036-style: normal;
  --text-036-transform: none;
  --text-036-weight: 800;
  --text-037-font-size: 20px;
  --text-037-letter-spacing: normal;
  --text-037-line-height: 29px;
  --text-037-style: normal;
  --text-037-transform: none;
  --text-037-weight: 400;
  --text-038-font-size: 23.4px;
  --text-038-letter-spacing: normal;
  --text-038-line-height: normal;
  --text-038-style: normal;
  --text-038-transform: uppercase;
  --text-038-weight: 400;
  --text-039-font-size: 12px;
  --text-039-letter-spacing: normal;
  --text-039-line-height: 12px;
  --text-039-style: normal;
  --text-039-transform: uppercase;
  --text-039-weight: 700;
  --text-040-font-size: 13.6px;
  --text-040-letter-spacing: normal;
  --text-040-line-height: 27.2013px;
  --text-040-style: normal;
  --text-040-transform: none;
  --text-040-weight: 400;
  --text-041-font-size: 13.6px;
  --text-041-letter-spacing: normal;
  --text-041-line-height: 27.2205px;
  --text-041-style: normal;
  --text-041-transform: none;
  --text-041-weight: 400;
  --text-042-font-size: 15.3px;
  --text-042-letter-spacing: normal;
  --text-042-line-height: 31.5648px;
  --text-042-style: normal;
  --text-042-transform: none;
  --text-042-weight: 400;
  --text-043-font-size: 15px;
  --text-043-letter-spacing: normal;
  --text-043-line-height: 19.5px;
  --text-043-style: normal;
  --text-043-transform: none;
  --text-043-weight: 400;
  --text-044-font-size: 21.6px;
  --text-044-letter-spacing: 0.432px;
  --text-044-line-height: normal;
  --text-044-style: normal;
  --text-044-transform: uppercase;
  --text-044-weight: 800;
  --text-045-font-size: 22.4px;
  --text-045-letter-spacing: normal;
  --text-045-line-height: 22.5792px;
  --text-045-style: normal;
  --text-045-transform: uppercase;
  --text-045-weight: 700;
  --text-046-font-size: 22.5px;
  --text-046-letter-spacing: normal;
  --text-046-line-height: 32.625px;
  --text-046-style: normal;
  --text-046-transform: none;
  --text-046-weight: 400;
  --text-047-font-size: 24px;
  --text-047-letter-spacing: normal;
  --text-047-line-height: 26.4px;
  --text-047-style: normal;
  --text-047-transform: none;
  --text-047-weight: 800;
  --text-048-font-size: 24px;
  --text-048-letter-spacing: normal;
  --text-048-line-height: 28.8px;
  --text-048-style: normal;
  --text-048-transform: uppercase;
  --text-048-weight: 700;
  --text-049-font-size: 32px;
  --text-049-letter-spacing: normal;
  --text-049-line-height: 32.256px;
  --text-049-style: normal;
  --text-049-transform: uppercase;
  --text-049-weight: 700;
  --text-050-font-size: 32px;
  --text-050-letter-spacing: normal;
  --text-050-line-height: 36.8px;
  --text-050-style: normal;
  --text-050-transform: uppercase;
  --text-050-weight: 700;
  --text-051-font-size: 32px;
  --text-051-letter-spacing: normal;
  --text-051-line-height: 38.4px;
  --text-051-style: normal;
  --text-051-transform: uppercase;
  --text-051-weight: 700;
  --text-052-font-size: 33.15px;
  --text-052-letter-spacing: normal;
  --text-052-line-height: 53.04px;
  --text-052-style: normal;
  --text-052-transform: none;
  --text-052-weight: 400;
  --text-053-font-size: 36px;
  --text-053-letter-spacing: normal;
  --text-053-line-height: 36.288px;
  --text-053-style: normal;
  --text-053-transform: uppercase;
  --text-053-weight: 700;
  --text-054-font-size: 36px;
  --text-054-letter-spacing: normal;
  --text-054-line-height: 43.2px;
  --text-054-style: normal;
  --text-054-transform: uppercase;
  --text-054-weight: 700;
  --text-055-font-size: 41.7px;
  --text-055-letter-spacing: normal;
  --text-055-line-height: 47.955px;
  --text-055-style: normal;
  --text-055-transform: uppercase;
  --text-055-weight: 700;
  --text-056-font-size: 50.04px;
  --text-056-letter-spacing: normal;
  --text-056-line-height: 80.064px;
  --text-056-style: normal;
  --text-056-transform: none;
  --text-056-weight: 400;
  --text-057-font-size: 54px;
  --text-057-letter-spacing: normal;
  --text-057-line-height: 62.1px;
  --text-057-style: normal;
  --text-057-transform: uppercase;
  --text-057-weight: 700;
  --text-058-font-size: 54px;
  --text-058-letter-spacing: normal;
  --text-058-line-height: 86.4px;
  --text-058-style: normal;
  --text-058-transform: none;
  --text-058-weight: 400;
  --space-001: 0px;
  --space-002: 11px;
  --space-003: 8px;
  --space-004: 6px;
  --space-005: 9px;
  --space-006: 10px;
  --space-007: 13.5px;
  --space-008: 9.5px;
  --space-009: 12px;
  --space-010: 16px;
  --space-011: 1.5px;
  --space-012: 15.5px;
  --space-013: 2px;
  --space-014: 1px;
  --space-015: 24px;
  --space-016: 19.5px;
  --space-017: 41.5px;
  --space-018: 72px;
  --space-019: 18px;
  --space-020: 16.5px;
  --space-021: 29px;
  --space-022: 27px;
  --space-023: 32px;
  --space-024: -50px;
  --space-025: 13px;
  --space-026: 18.5px;
  --space-027: 23.5px;
  --space-028: 30px;
  --space-029: 50px;
  --space-030: 5px;
  --space-031: 86.5px;
  --space-032: 36px;
  --space-033: 8.5px;
  --space-034: 28px;
  --space-035: 4px;
  --space-036: 100px;
  --space-037: 19px;
  --space-038: 33.5px;
  --space-039: 33px;
  --space-040: 57.5px;
  --space-041: -1px;
  --space-042: 80px;
  --radius-001: 0px;
  --radius-002: 4px;
  --radius-003: 6px;
  --radius-004: 4.5px;
  --border-001: 0px;
  --border-002: 1px;
  --shadow-001: none;
  --shadow-002: rgba(255, 255, 255, 0.35) 0px 0px 0px 1px inset, rgba(255, 0, 80, 0.25) 0px 10px 30px 0px;
  --shadow-003: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset;
  --shadow-004: rgba(0, 0, 0, 0.1) 0px 2px 6px 0px;
  --shadow-005: rgba(0, 0, 0, 0.02) 0px 1px 0px 0px;
  --shadow-006: rgba(0, 0, 0, 0.06) 0px 1px 0px 0px, rgba(0, 0, 0, 0.06) 0px 12px 24px 0px, rgba(0, 0, 0, 0.04) 0px 2px 10px 0px;
  --shadow-007: rgba(0, 0, 0, 0.08) 0px 4px 12px 0px;
  --shadow-008: rgba(0, 0, 0, 0.12) 0px 8px 24px 0px;
  --shadow-009: rgba(255, 255, 255, 0.28) 0px 0px 0px 1px inset;
}